body > * {
  clear: both;
}
.inner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  width: 100%;
}
.listitem-overline,
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  border-top: 1px solid #eee;
}
.listitem-underline,
.article-schema,
#main .article-schema,
.widget li,
.widget article {
  border-bottom: 1px solid #eee;
}
.thumbnail,
.article-schema .article-thumbnail,
#main .article-schema .article-thumbnail {
  position: relative;
  overflow: hidden;
}
.thumbnail img,
.article-schema .article-thumbnail img,
#main .article-schema .article-thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
#mobile-navbar-toggle {
  font-family: FontAwesome;
}
#navbar > ul > li a,
.main-nav-link {
  display: inline-block;
  position: relative;
}
#navbar > ul > li a:before,
.main-nav-link:before {
  content: "";
  position: absolute;
  bottom: 29px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  left: 50%;
  height: 1px;
  width: 0;
  background: #a67c52;
}
#header.fixed #navbar > ul > li a:before,
#header.fixed .main-nav-link:before {
  bottom: 18px;
}
#navbar > ul > li a:hover:before,
.main-nav-link:hover:before {
  left: 0;
  width: 100%;
}
body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #fff;
  font: 14px -apple-system, BlinkMacSystemFont, "Microsoft YaHei", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-text-size-adjust: 100%;
}
i {
  font-style: normal;
}
.outer {
  margin: 0 auto;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
@media screen and (max-width: 479px) {
  .outer {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  .outer {
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .outer {
    width: 1170px;
  }
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#body {
  display: block;
}
@media screen and (min-width: 960px) {
  #body {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
}
#main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
@media screen and (min-width: 960px) {
  #main {
    padding-right: 50px;
  }
}
.socials-icon {
  font-family: FontAwesome;
}
.socials-email:before {
  content: "\f0e0";
}
.socials-github:before {
  content: "\f113";
}
#banner > a,
#banner span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  vertical-align: top;
  background: url("https://img.icons8.com/carbon-copy/1200/000000/no-image.png") center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#banner > a:before,
#banner span:before {
  display: block;
  content: "";
  padding-top: 100%;
}
a,
span {
  display: inline;
}
p,
title,
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}
article h1 {
  font-size: 24px;
}
article h2 {
  font-size: 22px;
}
article h3 {
  font-size: 20px;
}
article h4 {
  font-size: 18px;
}
article h5 {
  font-size: 16px;
}
article h6 {
  font-size: 14px;
}
article hr {
  border: 1px dashed #ddd;
}
article strong {
  font-weight: bold;
}
article em,
article cite {
  font-style: italic;
}
article sup,
article sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
article sup {
  top: -0.5em;
}
article sub {
  bottom: -0.2em;
}
article small {
  font-size: 0.85em;
}
article acronym,
article abbr {
  border-bottom: 1px dotted;
}
article ul,
article ol,
article dl {
  margin: 0 20px;
  line-height: 1.8;
}
article ul ul,
article ol ul,
article ul ol,
article ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
article ul {
  list-style: disc;
}
article ol {
  list-style: decimal;
}
article dt {
  font-weight: bold;
}
article figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
#header {
  position: fixed;
  display: inline-block;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
  background: transparent;
  -webkit-box-shadow: 0px 1px 5px rgba(190,190,190,0.46);
  box-shadow: 0px 1px 5px rgba(190,190,190,0.46);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#header > .inner {
  height: 100%;
}
#header a,
#header span {
  line-height: 80px;
  color: #111;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#header.fixed {
  height: 60px;
  background: #fff;
}
#header.fixed a,
#header.fixed span {
  line-height: 60px;
}
#logo > img {
  height: 100%;
}
#navbar {
  float: right;
}
@media screen and (max-width: 479px) {
  #navbar > ul {
    display: none;
  }
}
#navbar > ul > li {
  display: inline-block;
  margin: 0 0 0 30px;
}
#navbar > ul > li a {
  text-decoration: none;
}
#navbar > ul > li a:hover {
  color: #a67c52;
}
#mobile-navbar-toggle {
  display: none;
}
#mobile-navbar-toggle:before {
  content: "\f0c9";
}
@media screen and (max-width: 479px) {
  #mobile-navbar-toggle {
    display: inline-block;
  }
}
#banner {
  max-height: 70vh;
  overflow: hidden;
  z-index: -1;
}
#banner span {
  background-image: url("https://i.loli.net/2021/04/13/g9TvH15itJqLfP8.jpg");
}
.nav-icon {
  font-family: FontAwesome;
  text-align: center;
  font-size: 14px;
  width: 14px;
  height: 14px;
  margin-left: 30px;
  position: relative;
  cursor: pointer;
}
.main-nav-link {
  font-weight: normal;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 479px) {
  .main-nav-link {
    display: none;
  }
}
#main-nav-toggle,
.main-nav-link {
  line-height: 80px;
}
#header.fixed #main-nav-toggle,
#header.fixed .main-nav-link {
  line-height: 60px;
}
#main-nav-toggle {
  display: none;
}
#main-nav-toggle:before {
  content: "\f0c9";
}
@media screen and (max-width: 479px) {
  #main-nav-toggle {
    display: block;
  }
}
#sub-nav {
  float: right;
}
#nav-rss-link:before {
  content: "\f09e";
}
#nav-search-btn:before {
  content: "\f002";
}
#search-form-wrap {
  position: absolute;
  top: 15px;
  width: 150px;
  height: 30px;
  right: -150px;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
#search-form-wrap.on {
  opacity: 1;
  right: 0;
}
@media screen and (max-width: 479px) {
  #search-form-wrap {
    width: 100%;
    right: -100%;
  }
}
.search-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.search-form-input {
  border: none;
  background: none;
  color: #313131;
  width: 100%;
  font: 13px -apple-system, BlinkMacSystemFont, "Microsoft YaHei", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  outline: none;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-form-submit {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  font: 13px FontAwesome;
  border: none;
  background: none;
  color: #bbb;
  cursor: pointer;
}
.search-form-submit:hover,
.search-form-submit:focus {
  color: #777;
}
.article .article-thumbnail,
.article-schema .article-thumbnail,
#main .article-schema .article-thumbnail,
.article-post .article-thumbnail {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  display: block;
}
.article .article-thumbnail:hover,
.article-schema .article-thumbnail:hover,
#main .article-schema .article-thumbnail:hover,
.article-post .article-thumbnail:hover {
  opacity: 0.8;
}
.article .article-header,
.article-schema .article-header,
#main .article-schema .article-header,
.article-post .article-header {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}
.article .article-title,
.article-schema .article-title,
#main .article-schema .article-title,
.article-post .article-title {
  display: block;
  text-decoration: none;
  color: #111;
}
.article .article-category-link,
.article-schema .article-category-link,
#main .article-schema .article-category-link,
.article-post .article-category-link,
.article .article-category-separator,
.article-schema .article-category-separator,
#main .article-schema .article-category-separator,
.article-post .article-category-separator {
  line-height: 1.4;
  font-size: 13px;
}
.article .article-category-link,
.article-schema .article-category-link,
#main .article-schema .article-category-link,
.article-post .article-category-link {
  text-decoration: none;
  color: #a67c52;
}
.article .article-category-separator:before,
.article-schema .article-category-separator:before,
#main .article-schema .article-category-separator:before,
.article-post .article-category-separator:before {
  content: "\f105";
  display: inline-block;
  margin: 0 10px;
  font-family: FontAwesome;
}
.article .article-time,
.article-schema .article-time,
#main .article-schema .article-time,
.article-post .article-time {
  display: block;
  color: #888;
}
.article-schema,
#main .article-schema {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
#main article {
  margin-top: 40px;
}
#main .article-schema {
  padding-bottom: 40px;
}
#main .article-schema:last-child {
  padding: 0;
  border: none;
}
@media screen and (max-width: 479px) {
  #main .article-schema {
    display: block;
  }
}
#main .article-schema .article-thumbnail {
  margin-right: 30px;
  width: 370px;
  height: 370px;
}
@media screen and (max-width: 479px) {
  #main .article-schema .article-thumbnail {
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }
  #main .article-schema .article-thumbnail img {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
#main .article-schema .article-title {
  font-size: 24px;
}
#main .article-schema .article-title:hover {
  color: #888;
}
#main .article-schema .article-category {
  margin-bottom: 8px;
}
#main .article-schema .article-time {
  margin-top: 12px;
}
#main .article-schema .article-header {
  position: relative;
  padding-bottom: 17px;
}
#main .article-schema .article-header:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 1px;
  background: #a67c52;
}
#main .article-schema .article-description {
  margin-top: 18px;
  line-height: 1.8;
}
#main .article-schema .read-more {
  padding: 0 15px;
  line-height: 33px;
  font-size: 12px;
  background: #a67c52;
  color: #fff;
}
.article-more-link {
  margin-top: 20px;
  text-align: center;
}
.article-more-link a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 12px;
  background: #a67c52;
  color: #fff;
}
.article-more-link a:hover {
  opacity: 0.7;
}
.article-more-link a span:after {
  content: "\f101";
  font-family: FontAwesome;
  font-size: 12px;
  margin-left: 5px;
}
.article-post .article-header {
  margin-bottom: 26px;
}
.article-post .article-category,
.article-post .article-title,
.article-post .article-time {
  text-align: center;
}
.article-post .article-title {
  font-size: 28px;
}
.article-post .article-category {
  margin-bottom: 10px;
}
.article-post .article-time {
  margin-top: 6px;
}
.article-body {
  color: #313131;
  margin-top: 18px;
  overflow: hidden;
}
.article-body:before,
.article-body:after {
  content: "";
  display: table;
}
.article-body:after {
  clear: both;
}
.article-body p,
.article-body table {
  line-height: 1.8;
  margin-bottom: 17px;
}
.article-body h1,
.article-body h2,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6 {
  line-height: 1.3em;
  margin-bottom: 17px;
  color: #313131;
}
.article-body pre {
  display: block;
  font-size: 14px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #f4f4f4;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 0 0 20px;
  line-height: 1.4;
  padding: 15px;
  letter-spacing: 0;
  color: inherit;
}
.article-body code {
  padding: 2px;
  border-radius: 2px;
  color: #23282d;
  background: #f4f4f4;
  font-family: Menlo, Consolas, monaco, monospace;
  font-size: inherit;
  border: none;
}
.article-body a {
  color: #a67c52;
  text-decoration: none;
}
.article-body a:hover {
  text-decoration: underline;
}
.article-body ul,
.article-body ol,
.article-body dl {
  margin-top: 1.8;
  margin-bottom: 1.8;
}
.article-body img,
.article-body video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-body iframe {
  border: none;
}
.article-body table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-body th {
  font-weight: bold;
  border-bottom: 3px solid #eee;
  padding-bottom: 0.5em;
}
.article-body td {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.article-body blockquote {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.4em;
  margin: 1.8 20px;
  text-align: center;
}
.article-body blockquote footer {
  font-size: 14px;
  margin: 1.8 0;
  font-family: -apple-system, BlinkMacSystemFont, "Microsoft YaHei", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.article-body blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-body .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-body .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-body .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-body .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-body .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-body .video-container iframe,
.article-body .video-container object,
.article-body .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-footer {
  margin: 30px 0;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer .tag-list {
  margin: 0;
  list-style: none;
}
.article-footer .tag-list-item {
  display: inline-block;
  margin: 0 8px 8px 0;
}
.article-footer .tag-list-link {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #eee;
  line-height: 1.2;
  font-size: 11px;
  text-decoration: none;
  color: #888;
}
.article-footer .tag-list-link:hover {
  border-color: #a67c52;
  background-color: #a67c52;
  color: #fff;
}
.article-nav {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  overflow: hidden;
  padding: 12px 0 15px;
  border-top: 1px solid #eee;
}
.article-nav:before,
.article-nav:after {
  content: "";
  display: table;
}
.article-nav:after {
  clear: both;
}
@media screen and (max-width: 479px) {
  .article-nav {
    display: block;
  }
}
.article-nav .article-nav-item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 50%;
  color: #888;
}
@media screen and (max-width: 479px) {
  .article-nav .article-nav-item {
    width: 100%;
  }
}
.article-nav .article-nav-newer {
  text-align: left;
}
@media screen and (max-width: 479px) {
  .article-nav .article-nav-newer {
    margin-bottom: 15px;
  }
}
.article-nav .article-nav-older {
  text-align: right;
}
.article-nav .article-nav-caption {
  color: #888;
}
.article-nav .article-nav-title {
  margin-top: 6px;
}
.article-nav .article-nav-title a {
  text-decoration: none;
  color: #313131;
}
.article-nav .article-nav-title a:hover {
  color: #a67c52;
}
#gitalk-container {
  margin-bottom: 40px;
}
#gitalk-container .gt-meta {
  position: relative;
  padding: 36px 0 0 0;
  margin: 0 0 30px;
  border: 0;
  border-top: 1px solid #dedede;
  font-size: 14px;
  letter-spacing: 1px;
  color: #313131;
}
#gitalk-container a {
  color: #a67c52;
}
#gitalk-container .gt-link {
  border: 0;
}
#gitalk-container .gt-header-textarea {
  padding: 15px 20px;
  border: 1px solid #dedede;
  border-radius: 0;
  width: 100%;
  height: 120px;
  font-size: 12px;
  color: #313131;
  background-color: #fff;
  margin-bottom: 28px;
  line-height: 20px;
  font-weight: 500;
  outline: none;
  vertical-align: top;
}
#gitalk-container .gt-avatar-github {
  display: none;
}
#gitalk-container .gt-header-comment {
  margin-left: 0;
}
#gitalk-container .gt-header-controls {
  margin: 0;
}
#gitalk-container .gt-header-controls-tip {
  line-height: 38px;
}
#gitalk-container .gt-header-controls-tip .gt-svg {
  display: none;
}
#gitalk-container .gt-btn {
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 0;
  font-size: 14px;
  color: #313131;
  padding: 12px 20px;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  width: auto;
  min-width: 120px;
  text-align: center;
}
#gitalk-container .gt-btn:hover {
  background-color: #a67c52;
  color: #fff;
}
#gitalk-container .gt-btn.gt-btn-preview {
  border: 1px solid #ececec;
  background: #fff;
  color: #a67c52;
}
#gitalk-container .gt-btn.gt-btn-preview:hover {
  border: 1px solid #a67c52;
}
#gitalk-container .gt-comment-admin .gt-comment-content {
  padding: 0;
  background: #fff;
}
#gitalk-container .gt-comment-content:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#gitalk-container .gt-svg svg {
  fill: #a67c52;
}
.archives {
  margin-top: 40px;
  text-align: center;
}
.archives label,
.archives title {
  display: inline-block;
  line-height: 1.2em;
  font-size: 24px;
  text-transform: uppercase;
}
.archives label {
  color: #313131;
}
.archives title {
  color: #a67c52;
}
#page-nav {
  margin: block-margin auto;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  color: #999;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav a:hover {
  background: #999;
  color: #fff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #313131;
  font-weight: bold;
}
#page-nav .space {
  color: #ddd;
}
#footer {
  margin-top: 50px;
  text-align: center;
  background: #111;
}
#footer a,
#footer span {
  color: #666;
}
#footer-socials {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100px;
  padding: 30px 0 15px;
  border-bottom: 1px solid #212121;
  text-align: center;
}
#footer-socials li {
  float: none;
  display: inline-block;
  margin: 0 30px 15px 0;
}
#footer-socials li:last-child {
  margin-right: 0;
}
#footer-socials a {
  color: #666;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
#footer-socials a:hover span {
  color: #a67c52;
}
#footer-socials a:hover i {
  color: #fff;
}
#footer-socials a i {
  display: inline-block;
  border: none;
  background: none;
  padding: 0;
  width: auto;
  height: auto;
  line-height: 20px;
  color: #666;
}
#footer-socials a span {
  display: block;
  margin-top: 5px;
}
#copyright {
  padding: 20px 0;
  line-height: 1.4;
  font-size: 14px;
}
#copyright a {
  color: #a67c52;
  text-decoration: none;
}
#copyright a:hover {
  text-decoration: underline;
}
#mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 270px;
  height: 100%;
  background: #fff;
  border-right: 1px solid #fff;
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
#sidebar {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
@media screen and (min-width: 960px) {
  #sidebar {
    width: 340px;
  }
}
.widget {
  margin-top: 40px;
}
.widget > header {
  margin-bottom: 30px;
  overflow: hidden;
  color: #111;
}
.widget > header title {
  position: relative;
  display: inline;
  padding-right: 12px;
  line-height: 1.3;
  font-size: 18px;
  text-transform: uppercase;
  color: #111;
}
.widget > header title:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 100%;
  width: 1200px;
  border-bottom: 1px solid #a67c52;
  opacity: 0.5;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin-top: 12px;
  padding: 11px 0 0 20px;
}
.widget li,
.widget article {
  overflow: hidden;
  margin-bottom: 12px;
  padding-bottom: 12px;
}
.widget li:last-child,
.widget article:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.widget li a,
.widget li a span {
  text-decoration: none;
  color: #111;
}
.widget li a:hover,
.widget li a span:hover {
  text-decoration: underline;
  color: #a67c52;
}
.widget li a:before {
  content: "\f105";
  display: inline-block;
  font-family: FontAwesome;
  margin-right: 10px;
}
.widget .article-schema .article-thumbnail {
  margin-right: 20px;
  width: 120px;
  height: 120px;
}
.widget .article-schema .article-title {
  line-height: 1.4;
  font-size: 16px;
}
.widget .article-schema .article-title:hover {
  color: #a67c52;
}
.widget .article-schema .article-time {
  margin-top: 6px;
  font-size: 13px;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  float: right;
  padding-left: 5px;
  line-height: 1.4;
  font-size: 14px;
  color: #888;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
